/*general*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

/*main*/
.site-container {
    margin-top: 200px;
    display: grid;
    place-items: center;
}

.cards {
    width: 900px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
}

.card {
    display: grid;
    grid-template-rows: 1fr .5fr 2fr 1fr;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.card__icon {
    width: 72px;
    height: 48px;
    margin-top: 40px;
}

.card__title {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.card__text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6em;
}

.button {
    background-color: white;
    width: 150px;
    height: 50px;
    border: solid 2px white;
    border-radius: 30px;
    display: grid;
    place-items: center;
}

.card--sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.button--sedan {
    color: hsl(31, 77%, 52%);
}

.button--sedan:hover {
    color: white;
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
}

.card--suv {
    background-color: hsl(184, 100%, 22%);
}

.button--suv {
    color: hsl(184, 100%, 22%);
}

.button--suv:hover {
    color: white;
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
}

.card--luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.button--luxury {
    color: hsl(179, 100%, 13%);
}

.button--luxury:hover {
    color: white;
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
}

/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 200px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
